*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Weights: 300, 400, 600;
    --Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans);
    --linear-gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --linear-gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --link-color:  hsl(228, 45%, 44%);
    --font-size: calc(15px + 0.390625vw);
}

body{
    display: flex;
    overflow-x: hidden;
    font-family: 'Josefin Sans';
    background-image: var(--linear-gradient-1);
}

img{
    max-width: 100%;
}

.logo{
    margin: 4% 18% 10% 18%;
}

.hero{
    display: none;
}

.texts{
    height: fit-content;
    margin-left: 18%;
    margin-right: 36%;
}

.notice{
    margin-bottom: 9%;
    color: var(--Desaturated-Red);
    font-size: 1.1vw;
    line-height: 2.5rem;
}

h1{
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 0.8vw;

}

.soon{
    margin-bottom: 6%;
    font-weight: 400;
}

.we{
    font-weight: 300;
    color: var(--Desaturated-Red);
}

#info{
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.mail {
    margin: 0 36% 0% 18%;
    position: relative;
}

#email{
    padding: 1.6em 0;
    width: 100%;
    border: 1.5px solid var(--Desaturated-Red);
    border-radius: 4em;
    font-size: 1em ;
    text-indent: 6%;
}

::placeholder{
    color: var(--Desaturated-Red);
    opacity: 0.5;
    font-family: 'Josefin Sans';
}

input[type=text]:focus{
    outline-width: 1px;
    outline-color: hsl(0, 36%, 70%);
}

.submit{
    background-image: var(--linear-gradient-2);
    padding: 1.8em 4rem;
    border-radius: 4em;
    margin-left: 1.2vw;
    box-shadow: 0px 7px 10px rgba(172, 37, 138, 0.2);
}

.submit:hover{
    transition: ease-out 0.3s;
    transform: scale(1.05);
}

.submit:active{
    background: var(--linear-gradient-1);
    box-shadow: 0px 10px 10px rgba(241, 26, 188, 0.2);
}

.alert{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.warning{
    margin-top: 3%;
    text-indent: 6%;
    color: hsl(347, 92%, 65%);
    position: relative;
}

#filled{
    position: absolute;
    top: 0;
    width: 100%;
}


#filled, #provide, #error{
    display: none;
    font-weight: 400;
}

@media screen and (max-width: 992px) {

    body{
        display: flex;
        flex-direction: column;
    }


    #info{
        background-image: var(--linear-gradient-1);
    }

    .hero img, img.logo{
        width: 992px;
    }

    .logo{
        margin:  6% 55% 6% 6%;
    }

    .texts{
        height: fit-content;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    h1{
        font-size: 12vw;
        text-transform: uppercase;
        letter-spacing: 0.8vw;
    
    }

    .notice{
        font-size: 3.6vw;
        line-height: 3rem;
    }

    .hero{
        display: block;
        margin-bottom: 14%;
    }

    .avatar{
        display: none;
    }

    .mail {
        margin: 0 10% 20% 10%;
        position: relative;
    }
    
    #email{
        padding: 1.5rem 0;
        border-radius: 6em;
        font-size: 3.5vw ;
        text-indent: 6%;
    }

    .submit{
        background-image: var(--linear-gradient-2);
        padding: 23% 3.8rem;
        margin-left: 1.2vw;
        box-shadow: 0px 5px 7px rgba(172, 37, 138, 0.2);
    }

    .warning{
        font-size: 2.8vw;
    }
    
}


@media screen and (max-width: 768px){

    body{
        display: flex;
        flex-direction: column;
    }


    #info{
        background-image: var(--linear-gradient-1);
    }

    .hero img, img.logo{
        width: 992px;
    }

    .logo{
        margin:  6% 55% 6% 6%;
    }

    .texts{
        height: fit-content;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    h1{
        font-size: 12vw;
        text-transform: uppercase;
        letter-spacing: 0.8vw;
    
    }

    .notice{
        font-size: 3.6vw;
        line-height: 2.5rem;
    }

    .hero{
        display: block;
        margin-bottom: 14%;
    }

    .avatar{
        display: none;
    }

    .mail {
        margin: 0 10% 20% 10%;
        position: relative;
    }
    
    #email{
        padding: 1.6em 0;
        border-radius: 6em;
        font-size: 2.5vw ;
        text-indent: 6%;
    }

    .submit{
        background-image: var(--linear-gradient-2);
        padding: 2.3rem 4rem;
        margin-left: 1.2vw;
        box-shadow: 0px 5px 7px rgba(172, 37, 138, 0.2);
    }

    .warning{
        font-size: 2.8vw;
    }
    
}

@media  screen and (max-width: 456px) {
    body{
        display: flex;
        flex-direction: column;
    }


    #info{
        background-image: var(--linear-gradient-1);
    }

    .hero img, img.logo{
        max-width: 100%;
    }

    .logo{
        margin:  6% 62% 6% 6%;
    }

    .texts{
        height: fit-content;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    h1{
        font-size: 15vw;
        text-transform: uppercase;
        letter-spacing: 0.8vw;
    
    }

    .notice{
        font-size: 3.8vw;
        line-height: 1.8rem;
    }

    .hero{
        display: block;
        margin-bottom: 14%;
    }

    .avatar{
        display: none;
    }

    .mail {
        margin: 0 10% 20% 10%;
        position: relative;
    }
    
    #email{
        padding: 1.5rem 0;
        border-radius: 6em;
        font-size: 3.5vw ;
        text-indent: 6%;
    }

    .submit{
        background-image: var(--linear-gradient-2);
        padding: 1.4rem 2.5rem;
        border-radius: 6em;
        margin-left: 1.2vw;
        box-shadow: 0px 5px 7px rgba(172, 37, 138, 0.2);
    }

    .warning{
        font-size: 3vw;
    }

}


